@import "../../vendor/bootstrap/less/bootstrap";
@import "../../vendor/fontawesome/less/font-awesome";
@import "../../vendor/bootstrap-select/less/bootstrap-select";
@import "../../vendor/file-upload/less/file-upload";
@import "../../vendor/froala/less/froala";

@icon-font-path: "/fonts/bootstrap/";
@fa-font-path:   "/fonts/fontawesome";

@import "nav";
@import "dropdown";
@import "page";
@import "tables";
@import "forms";
@import "gallery";
@import "categories";

*{
  outline: none !important;
}

.small-text{
  font-size: 12px;
}


.main-menu{
  font-size: 12px;

  .panel-body{
    padding: 15px 0;
  }

  a{
    border-radius: 0 !important;
  }
}

.ad-types-list{
  list-style: none;
  width: 100%;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #ccc;
}
