.categories-list{
  ul{
    list-style: none;
    padding-left: 0;

    ul{
      padding-left: 20px;
    }
  }

  .categories-list-item{
    background-color: lighten(@gray, 62%);
    border-radius: 5px;
    padding: 7px 10px;
    margin-bottom: 10px;

    &:hover{
      background-color: lighten(@gray, 60%);
    }
  }

  .btn{
    margin-left: 5px;
  }
}