.plus-dropdown-menu{
  list-style: none;
  position: relative;
  margin-left: 0;
  padding-left: 0;

  li{
    padding: 0 20px;
    position: relative;

    .plus-dropdown-menu-item{
      display: block;
      padding: 3px 0;

      .plus-dropdown-menu-add{
        opacity: 0;
        transition: opacity .3s ease;
      }

      &:hover{
        .plus-dropdown-menu-add{
          opacity: 1;
        }
      }
    }

    ul{
      display: none;
      list-style: none;
      position: relative;
      margin-left: 0;
      padding-left: 0;
    }
  }

  .fa-plus-square, .fa-minus-square{
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 5px;

    &:hover{
      color: @brand-primary;
    }

    &:active, &:focus{
      color: @gray;
    }
  }
}