.help-block{
  font-size: 12px;
}

.action-datatable-form{

}

.dropdown-menu{
  .status{
    padding: 5px 10px;
  }
}

.filter-button{
  padding-top: 25px;
}

.duplicate{
  margin-top: 10px;

  &:first-child{
    margin-top: 0;
  }

}

.duplicate-block-remove, .duplicate-block{
  font-size: 12px;

  &.text-danger{
    color: @brand-danger;
  }
}