.upload-gallery-image{
  width: 100%;
}

.images-gallery{
  padding: 10px;

  .col-xs-4{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.gallery-item{
  position: relative;

  .close{
    background-color: @brand-danger;
    border: 1px solid @brand-danger;
    border-radius: 50%;
    display: block;
    height: 20px;
    opacity: 1;
    position: absolute;
    right: 0;
    top: -5px;
    color: #fff;
    text-shadow: none;
    width: 20px;
    font-size: 11px;
    transition: all .2s ease;
    padding: 0;

    &:hover{
      background-color: #fff;
      color: @brand-danger;
    }
  }

  .set-image-main{
    background-color: #fff;
    border: 1px solid @gray;
    border-radius: 50%;
    display: block;
    height: 20px;
    opacity: 1;
    position: absolute;
    right: 25px;
    top: -5px;
    color: @gray;
    text-shadow: none;
    width: 20px;
    font-size: 11px;
    transition: all .2s ease;
    padding: 0;

    &:hover, &.active{
      background-color: @brand-success;
      border-color: @brand-success;
      color: #fff;
    }
  }
}