.ad-user-data{

  h3{
    font-size: 20px;
    margin: 0 0 40px;
  }

}

.select-user-type{

  font-size: 12px;

  h3{
    font-size: 16px;
    padding-left: 50px;
    position: relative;
    margin-top: 0;
    min-height: 60px;

    .fa{
      position: absolute;
      left: 0;
      top: 0;
      font-size: 48px;
    }
  }

  .select-block{
    height: 350px;
  }

}


.map-message{
  background-color: rgba(61,103,159,.8);
  color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  font-size: 12px;
  padding: 10px;
}

.map-hover{
  background-color: rgba(61,103,159,.8);
  color: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  font-size: 14px;

  .fa{
    font-size: 36px;
  }
}

.map-hover-inner{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -30px;
}

.ad-publication-type{
  padding: 25px 100px;
}

.ad-type-item-header{
  background-color: #fff;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px 10px 0 0;
}

.ad-type-item-header-text{
  padding-left: 15px;
}

.ad-type-item-content{
  padding: 15px;
  height: 160px;

  li{
    margin-bottom: 10px;
  }
}

.ad-type-item-slider{
  padding:  40px 30px 30px 30px;

  .slider.slider-horizontal{
    width: 100%;
  }
}


.ad-type-item{

  border-radius: 10px;
  transition: all .2s ease;


  .ad-type-item-slider, .ad-type-item-header{
    transition: all .2s ease;
  }

  &:hover{
    border-color: @brand-primary;

    .ad-type-item-header {
      background-color: @brand-warning-2;
    }

    .ad-type-item-slider {
      background-color: @brand-warning-2;
    }

    .slider-track{
      background-color: @brand-warning;
    }

    .slider-tick{
      background-color: @brand-warning;
    }

  }

}

.ad-type-item-footer{
  background-color: @gray-lighter;
  border-radius:  0 0 10px 10px;
}

.ad-type-item-price{
  background-color: @brand-primary;
  color: #fff;
  font-size: 25px;
  padding: 15px 5px;
  text-align: center;
  border-radius:  0 0 8px 0;

  .fa{
    margin-left: 10px;
    font-size: 22px;
  }
}


.ad-type-item-count{
  padding: 15px;

  .form-control{
    width: 36px;
    margin: 0 7px;
    display: inline;
  }
}

.ad-type-item-count{
  .form-control[disabled]{
    cursor: default;
    background-color: #fff;
  }
}

#saveAdForm{

  .help-block {
    margin-bottom: 0;
    margin-top: 10px;
  }

}

@media(max-width: @screen-lg-min){

  .ad-publication-type{
    padding: 15px;
  }

  .ad-type-item-header{
    font-size: 14px;
  }

}