.catalog-agencies {
    
    .catalog-items {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: stretch;
    }
    
    .catalog-item {
        margin-bottom: 30px;
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .catalog-row {
        margin-bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        padding: 20px;
        border-color: #fbfbfb;
        border-radius: 1px;
        background-color: #fbfbfb;
        
        &::before,
        &::after {
            display: none;
        }
        
        .catalog-image {
            position: static;
            margin-right: 20px;
            height: 100%;
            
            img {
                height: auto;
            }
            
        }
        
        .catalog-content-name {
            font-weight: 700;
            font-size: 16px;
        }
        
        .catalog-content-address {
            margin-top: 5px;
        }
        
        .catalog-content-phone {
            margin-top: 10px;
            font-weight: 700;
            
            .fa-mobile {
                margin-right: 6px;
                font-size: 24px;
            }
            
        }
        
        .catalog-content-text {
            margin-top: 10px;
        }
        
        .catalog-content-readmore {
            margin-top: 8px;
            
            a {
                text-decoration: underline;
                
                &:hover {
                    color: @brand-success;
                }
                
            }
            
        }
        
        &:hover {
            border-color: #eeeeee;
            box-shadow: none;
            background-color: #fff;
        }
        
    }
    
}