@breadcrumb-separator: "▸";
@breadcrumb-bg: tranparent;
@breadcrumb-padding-horizontal: 0;
@breadcrumb-padding-vertical: 0;
@breadcrumb-color: @brand-primary;
@breadcrumb-active-color: @gray;

.breadcrumb{
  font-weight: 300;
  font-size: 11px;
  margin-bottom: 10px;

  & > li + li::before {
    color: @gray;
    padding: 0 5px;
  }
}
