.btn-split{
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;

  .btn-split-help{
    font-size: 11px;
    font-weight: 300;
    display: inline-block;
    padding: 5px 0;
  }
}

.btn-success{
  border-color: @brand-success;
}

.btn-lg{
  padding: 15px 20px;
  font-size: 16px;

  .fa{
    font-size: 22px;
    margin-right: 10px;
  }
}

.full-width-large-btn{
  margin-top: 10px;
}