.range-filter{

  label{
    display: block;
  }

  .form-control{
    width: 40%;
    display: inline-block;
  }

  .dash{
    width: 13%;
    display: inline-block;
    text-align: center;
  }

}

.catalog-filter{
  margin: 50px 0 0;
  padding: 20px 30px;
  border-radius: 5px 5px 0 5px;
  border: 1px solid #eee;

  hr{
    margin-top: 15px;
    margin-bottom: 30px;
  }

  background-color: #fff;
}

.additional-fields{
  display: none;

  &.active{
    display: block;
  }
}

.catalog-filter-control{
  margin-bottom: 30px;
  margin-top: -1px;
}

.catalog-filter-buttons{
  border: 1px solid #eee;
  padding: 10px 20px;
  border-radius: 0 0 5px 5px;
  border-top-width: 0;
  text-align: right;
  background-color: #fff;


  a{
    color: #000;
    text-decoration: underline;

    &:hover{
      color: #3d679f;
    }
  }
}

.catalog-filter-toggle{
  margin-top: 5px;
}

.catalog-filter-save{
  margin-top: 10px;

  .btn{
    padding: 10px;
  }

  p{
    margin-top: 2px;
    color: #afafaf;
  }
}

.catalog-links{
  margin-bottom: 0;

  .catalog-link{
    display: inline-block;
    margin-bottom: 10px;
  }

}

.catalog-filter-footer{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
}

.catalog-filter-footer{
  background-color: #fbfbfb;
  border: 1px solid #eee;
  border-left-width: 0;
  border-right-width: 0;
  -webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.2);
  padding: 15px 0;
}

.catalog-view-mode{
  list-style: none;
  padding-top: 7px;

  li{
    display: inline-block;
    margin-left: 7px;
    line-height: 18px;

    a{
      color: #444444;

      &:hover, &.active{
        color: #3d679f;
        text-decoration: none;
      }
    }

    .fa{
      font-size: 18px;
    }
  }
}

.catalog-sort{
  label{
    display: inline-block;
    margin-top: 7px;
  }
}

.ads-count{
  display: inline-block;
  margin-top: 7px;
  color: #444444;
}

.catalog-content{
  margin-top: 140px;
}

.catalog-row{
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #eee;
  border-radius: 5px;
  height: 142px;

  &:hover{
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.32);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.32);
  }

  .catalog-image{
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px 0 0 5px;

    img{
      border-radius: 5px 0 0 5px;
    }
  }

  .catalog-images-count{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
  }

  .catalog-content-ads{
    margin: 10px 10px 10px 200px;
    position: relative;

    .catalog-content-left, .catalog-content-right{
      height: 120px;
    }

    h2{
      color: #444;
      padding: 0;
      margin: 0 0 4px 0;
      font-size: 16px;
      font-weight: bold;

      a{
        color: #444;
      }
    }

    .catalog-content-address{
      font-size: 11px;
      margin: 0 0 5px;
      font-style: italic;
    }

    .catalog-content-text{
      margin: 0 0 5px;
    }

    .catalog-content-meta{
      position: absolute;
      bottom: 0;
      left: 15px;

      ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li{
        position: relative;
        margin-right: 10px;
        display: inline-block;
        font-size: 12px;
      }
    }
  }

  .catalog-content-author{
    h3{
      color: #444;
      padding: 0;
      margin: 0 0 4px 0;
      font-size: 14px;
      font-weight: bold;
    }

    p{
      font-size: 11px;
      font-style: italic;
    }
  }

  .catalog-content-contacts{
    .fa{
      font-size: 18px;
      margin-right: 7px;
    }

    a{
      color: #444;
      text-decoration: underline;

      &:hover{
        color: #000;
      }
    }
  }

  .catalog-content-price{
    color: #444;
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 16px;
    font-weight: bold;
  }

  .catalog-content-top-meta{
    top: 0;
    right: 10px;
    position: absolute;



    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li{
      position: relative;
      display: inline-block;
      margin-right: 7px;

      .fa{
        font-size: 14px;
      }
    }

    .bookmark-link{
      cursor: pointer;

      .fa{
        font-size: 22px;
      }

      &:hover{
        color: #ffbf00;
      }

      .fa-circle-o-notch{
        font-size: 16px;
      }
    }
  }

  &.grid{
    height: 410px;

    .catalog-image{
      position: relative;
      width: 100%;
      border-radius: 5px 5px 0 0 ;

      img{
        border-radius: 5px 5px 0 0;
        width: 100%;
      }

    }

    .catalog-content-ads {
      margin: 10px;
      position: relative;

      .catalog-content-left, .catalog-content-right {
        height: auto;
      }

      h2 {
        margin: 0 0 10px 0;
        font-size: 14px;
        font-weight: 400;

        a{
          text-decoration: underline;
        }
      }

      .catalog-content-address {
        font-size: 11px;
        margin: 0 0 5px;
        font-style: italic;
      }

      .catalog-content-text {
        margin: 0 0 5px;
      }

      .catalog-content-meta {
        position: relative;
        bottom: auto;
        left: auto;

        ul {
          list-style: none;
          margin: 0 0 10px 0;
          padding: 0;
        }

        li {
          position: relative;
          margin-right: 10px;
          display: inline-block;
          font-size: 12px;
        }
      }
    }

    .catalog-content-price{
      position: relative;
      right: 0;
      font-size: 18px;
      margin-bottom: 10px;
    }

    .catalog-content-top-meta{
      color: #fff;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
      top: 10px;
      right: 10px;
    }
  }
}

.catalog-map, .catalog-list{
  position: relative;
}

#catalog-map{
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 100vh;
  border-radius: 5px;
}


.show-catalog-map{
  color: #fff;
  background-color: #3d679f;
  position: absolute;
  right: 0;
  top: 30px;
  display: block;
  height: 40px;
  padding: 0 15px;
  line-height: 36px;
  z-index: 100;
  border-radius: 3px 0 0 3px;

  .fa{
    font-size: 18px;
  }

  &:hover{
    color: #fff;
    background-color: #85b200;
    text-decoration: none;
  }
}

.catalog-alerts{
  .page-messages{
    .alert{
      margin: 30px 0 0 0;
    }
  }
}

.ad-gallery-block{

  .gallery-ad-images-wrapper{
    position: relative;
  }

  .gallery-ad-nav{
    display: block;
    text-align: center;
    padding: 0 0 5px;
    color: #aaaaaa;
    cursor: pointer;

    &.down{
      padding: 5px 0 0;
    }

    &:hover{
      color: #3d679f;
    }

    .fa{
      font-size: 36px;
    }
  }

  .gallery-ad-images{
    text-align: center;
    height: 310px;
    overflow: hidden;

    img{
      cursor: pointer;
      display: inline-block;
      margin-bottom: 10px;

      &:last-child{
        margin-bottom: 0;
      }

      &:hover{
        border: 1px solid #3d679f;
      }
    }
  }

  .gallery-ad-main-img{
    position: relative;
    text-align: center;
    padding: 10px 0 0 5px;

    .btn{
      display: inline-block;
      margin-top: -25px;
      padding: 15px 30px;
    }
  }
}
.ad-sidebar-block{
  padding: 20px 30px;
  background-color: #fbfbfb;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.2);
  margin-top: 40px;
  text-align: center;

  .ad-id{
    font-style: italic;
  }

  .ad-price{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .ad-address{
    margin-bottom: 15px;
  }

  .ad-show-map{
    .fa{
      font-size: 20px;
      margin-right: 7px;
    }
  }

  .ad-author{
    h3{
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    p{
      font-style: italic;
    }

    margin-bottom: 15px;
  }

  .ad-contact{
    .btn{
      width: 70%;
      padding: 10px 20px;
      font-size: 14px;

      .fa{

        margin-right: 5px;
      }

      .fa-mobile-phone{
        font-size: 20px;
      }
    }

    .show-ad-phone{
      font-size: 20px;
    }

    margin-bottom: 15px;
  }
}


.single-ad-params{
  border: 1px solid #eeeeee;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.2);

  td{
    border-width: 0 !important;
    padding: 10px 20px !important;
  }

  .table{
    margin-bottom: 0;
  }
}

.single-ad-sidebar-buttons{
  margin-top: 30px;

  li{
    margin-bottom: 10px;
  }
}

.single-ad-contact-form{
  padding: 20px;
  background-color: #fbfbfb;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.2);
  margin-top: 40px;

  h2{
    font-size: 18px;
    margin: 0 0 20px 0;
  }

  textarea{
    height: 115px;
  }

  label{
    font-weight: 300;
  }
}

.single-related-ads{

  ul{
    list-style: none;
    overflow-x: hidden;
    white-space:nowrap;
    padding: 0;
    margin: 0;
  }

  li{
    display: inline-block;
    width: 25%;
  }
}

.single-related-ads-inner{
  background-color: #fbfbfb;
  padding: 10px 40px;
  position: relative;


  .catalog-image{
    position: relative;
  }

  .catalog-image-link{
    position: relative;
    display: inline-block;
  }

  .catalog-images-count{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
  }

  .catalog-content-top-meta{
    top: 10px;
    left: 10px;
    position: absolute;

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li{
      position: relative;
      display: inline-block;
      margin-right: 7px;

      .fa{
        font-size: 14px;
      }
    }

    .bookmark-link{
      cursor: pointer;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
      color: #fff;

      .fa{
        font-size: 22px;
      }

      &:hover{
        color: #ffbf00;
      }

      .fa-circle-o-notch{
        font-size: 16px;
      }
    }
  }

  .catalog-content-ads{
    padding: 10px;
    white-space: normal;
  }

  .catalog-content-price{
    font-size: 18px;
    font-weight: bold;

    .no-price{
      font-size: 16px;
    }
  }

  h3{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0;

    a{
      color: #444;
    }
  }

  .single-related-nav{
    cursor: pointer;
    color: #aaaaaa;
    position: absolute;
    top: 50%;
    margin-top: -60px;

    .fa{
      font-size: 36px;
    }

    &:hover{
      color: #3d679f;
    }

    &.left{
      left: 15px;
    }

    &.right{
      right: 15px;
    }
  }
}