.footer-wrapper{
  width: 100%;
  color: #fff;

  a{
    color: #fff;

    &:hover{
      color: @gray-lighter;
    }

    &:active, &:focus{
      color: @gray-light;
    }
  }
}

.footer{
  background-color: @gray;
  padding: 20px 0;

  h4{
    color: @gray-light;
    left: 30px;
    margin: 0;
    position: absolute;
    top: 7px;
  }

  ul{
    list-style: none;
    margin-top: 10px;
    margin-left: 0;
    padding-left: 15px;
    padding-top: 30px;
    border-left: 1px solid darken(@gray-light, 15%);

    li{
      margin-top: 10px;
    }
  }
}

.social-icons{
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;

  li{
    display: inline-block;
    margin-left: 10px;
  }

  a{
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: @border-radius-base;
    transition: all .2s ease;

    &:hover{
      border-radius: 50%;
    }

    &:active, &:focus{
      opacity: .7;
      color: #fff;
    }
  }

  .fa{
    font-size: 16px;
  }


}

.footer-bottom{
  background-color: @gray-dark;
  padding: 15px 0;

  a{
    text-decoration: underline;
  }

  p{
    margin-top: 5px;
  }
}