.form-control{
  border-color: @gray-lighter;
}

.label-after-field{
  margin-left: 0;
  margin-right: 0;

  label{
    margin-top: 6px;
    margin-bottom: 0;
    font-weight: 400;
    padding: 0 10px;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 0;
    padding-right: 0;
  }

}

.radio label, .checkbox label{
  padding-left: 0;
}

input[type=checkbox], input[type=radio]{
  display: none;
}

input[type=checkbox] + label, input[type=radio] + label{
  font-weight: 400;
  cursor: pointer;
}

input[type=checkbox] + label:before, input[type=radio] + label:before{
  .fa;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align:middle;
  margin-right: 8px;
  background-color: #fff;
  border: 1px solid @gray-light;
  border-radius: 5px;
  text-align: center;
  font-size: 10px;
  line-height: 16px;
  color: @brand-primary;
  cursor: pointer;
}

input[type=radio] + label:before{
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

input[type=checkbox]:checked + label:before{
  border-color: @brand-primary;
  content: "\f00c";
}

input[type=radio]:checked + label:before{
  border-color: @brand-primary;
  content: "\f111";
  font-size: 5px;
  line-height: 14px;
}


label{
  font-weight: 400;
}

.form-control{
  box-shadow: none;
  height: 36px;
  color: @gray;

  &:focus{
    border-color: @brand-primary;
    box-shadow: none;
  }
}

.bootstrap-select{

  &:focus, &:active{
    outline: none !important;
  }

  &.open{
    .btn-default{
      border-color: @brand-primary  !important;

      .caret{
        background-color: @brand-primary  !important;

        &:after{
          color: #fff;
        }
      }
    }
  }


  .dropdown-toggle{
    box-shadow: none !important;
    outline: none !important;

    &.btn-default{
      background-color: #fff  !important;
      border-color: @gray-lighter;
      color: @gray;
      height: 36px;

      .caret{
        display: block;
        background-color: @gray-lighter;
        height: 36px;
        width: 36px;
        right: -1px !important;
        top: -1px !important;
        margin-top: 0 !important;
        border-width: 0;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        &:after{
          position: absolute;
          content: "\f107";
          right: 14px;
          top: 11px;
          .fa
        }

      }

      &:hover, &:active, &:focus{
        background-color: #fff  !important;
      }

      &:active, &:focus{
        border-color: @brand-primary  !important;
        outline: none !important;

        .caret{
          background-color: @brand-primary;
          &:after{
            color: #fff;
          }
        }
      }

    }
  }

  .dropdown-menu{

    li{
      a{
        &:hover{
          background-color: @brand-success;
          color: #fff;
          background-image: url('../../images/patt_white.png');

          .check-mark{
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.28);
          }
        }
      }
    }

  }

}

.g-recaptcha {
  height: 70px;
  margin-top: 10px;
  transform: scale(0.66);
  transform-origin: 0 0 0;
}

strong{
  label{
    font-weight: 700;
  }
}

.block-images-button{
  .fileinput-button{
    width: 100%;
  }
}
