@import "../../vendor/bootstrap/less/bootstrap";
@import "../../vendor/fontawesome/less/font-awesome";
@import "../../vendor/bootstrap-select/less/bootstrap-select";
@import "../../vendor/file-upload/less/file-upload";
@import "../../vendor/bootstrap-slider/less/bootstrap-slider";

@icon-font-path: "/fonts/bootstrap/";
@fa-font-path:   "/fonts/fontawesome";

@font-family-sans-serif: 'Open Sans', sans-serif;
@font-family-serif: 'Open Sans', sans-serif;

@font-size-base: 13px;
@border-radius-base: 3px;
@border-radius-large: 4px;

@gray: #444444;
@brand-primary: #3d679f;
@brand-success: #85b200;
@brand-info: #6485b2;
@brand-info-light: lighten(@brand-info, 43%);
@brand-info-light-2: #f5f9fc;
@brand-warning: #ffbf00;
@brand-warning-2: #fafabe;
@gray-dark: #333333;

@import "buttons";
@import "loader";
@import "nav";
@import "panels";
@import "header";
@import "breadcrumbs";
@import "profile";
@import "footer";
@import "lists";
@import "images";
@import "forms";
@import "tabs";
@import "ad";
@import "modals";
@import "slider";
@import "pagination";
@import "catalog";
@import "agencies";

*{
  outline: none !important;
}

h1{
  font-weight: 300;
  font-size: 26px;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 18px;
}

h4{
  font-size: 16px;
}

.fa{
  font-size: 14px;
  vertical-align: middle;
}

.container{
  min-width: 960px;
}

.container-fluid{
  min-width: 960px;
  padding-left: 0;
  padding-right: 0;
}

.radius{
  border-radius: @border-radius-base;
}

.border-gray{
  border: 1px solid @gray-lighter;
}

.bg-info-light{
  background-color: @brand-info-light;
}

.bg-info-light-2{
  background-color: @brand-info-light-2;
}

.bg-gradient{

}

.drop-shadow{
  box-shadow: 0px 3px 5px 0px rgba(1, 0, 0, 0.1);
}

.text-white{
  color: #fff;
}

.margin-bottom-50{
  margin-bottom: 50px;
}

.margin-bottom-30{
  margin-bottom: 30px;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-bottom-10{
  margin-bottom: 10px;
}


.margin-top-10{
  margin-top: 10px;
}

.margin-top-20{
  margin-top: 20px;
}

.margin-top-30{
  margin-top: 30px;
}

.margin-top-50{
  margin-top: 50px;
}


.padding-10{
  padding: 10px;
}

.padding-15{
  padding: 15px;
}

.fa-ul{
  .btn-link{
    padding: 0;
  }
}

.popover{
  .fa-ul{
    margin-bottom: 0;

    a, .btn-link{
      text-decoration: underline;
    }

    li{
      margin-bottom: 5px;
    }

    .fa{
      color: lighten(@brand-warning, 20%);
    }
  }
}

.relative{
  position: relative;
}

#imagesUploadButtonButton{
    width: 100%;
}

#citySelectModal{
  .modal-dialog{
    width: 800px;
  }
}

.city-select-block{
  height: 400px;
  overflow-y: auto;
  padding: 15px 0;
  position: relative;

  h2, h3{
    margin: 0 0 20px 0;
    padding: 0 15px;
  }

  h2{
    font-size: 22px;
  }

  h3{
    font-size: 18px;
  }

  .city-select-marker{
    margin-left: 0;
    margin-top: 10px;

    span{
      background-color: @brand-success;
      border-radius: 0 3px 3px 0;
      color: #fff;
      font-size: 16px;
      padding: 0 20px;
    }
  }

  .city-select-list{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      margin: 0;
      padding: 0;

      a{
        display: inline-block;
        padding: 3px 20px;
        width: 100%;
        color: #444;

        &:hover, &:active, &:focus, &.active{
          text-decoration: none;
          background-color: #eeeeee;
        }
      }
    }
  }
}

.info-message{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 60px 30px 30px 30px;
  margin-bottom: 150px;

  p{
    font-size: 16px;
  }
}

body{
  min-width: 1160px !important;
}

.container{
  min-width: 1160px !important;
}

.container-fluid{
  min-width: 1160px !important;
}

.catalog-filter-footer{
  min-width: 1160px !important;
}

@media (max-width: 1160px) {
  .footer{
    .container{
      margin: 0;
      padding: 0;

      .row{
        margin: 0;
      }
    }
  }
}

