.block-images-upload{
  height: 300px;

  .images-list{
    height: 250px;
  }
}

.block-images-button{
  .btn{
    height: 48px;
    font-size: 14px;
    line-height: 34px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .fa{
      font-size: 16px;
    }
  }
}

.no-photo-uploaded{
  color: @gray-light;
  padding: 30px;

  .fa{
    font-size: 48px;
    color: @gray-lighter;
  }

  p{
    margin-top: 20px;
  }
}