.block-list{
  padding: 10px;
  height: 300px;
  overflow-y: auto;

  ul{
    list-style: none;
    padding-left: 0;

    ul{
      margin: 10px 20px;

      ul{
        border-left: 1px solid @gray-lighter;
        margin: 0 12px;
        padding-left: 10px;
      }
    }
  }

  li{
    font-size: 16px;

    li{
      font-size: 13px;
    }
  }

  .block-list-item{
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    height: 30px;
    cursor: pointer;

    &:hover, &.active{
      background-color: @gray-lighter;
      font-weight: 700;

      &:after{
        border-color: transparent transparent transparent #eeeeee;
        border-style: solid;
        border-width: 15px 0 15px 10px;
        content: " ";
        height: 0;
        position: absolute;
        right: -10px;
        top: 0;
        width: 0;
      }
    }
  }

}


.images-list{
  overflow-y: auto;
  padding: 10px;

  .row{
    margin: 0;
  }

  .col-xs-3{
    padding-left: 5px;
    padding-right: 5px;
  }

  .thumbnail{
    margin-bottom: 10px;
    padding: 0;
    border-width: 1px;
    border-color: @gray-lighter;
    border-radius: 0;
    cursor: pointer;
    position: relative;

    &:hover, &.active{
      border-radius: 3px;
      border-width: 2px;
      border-color: @brand-primary;

      &:after{
        content: "Главное";
        font-size: 10px;
        position: absolute;
        opacity: .7;
        background-color: @brand-primary;
        bottom: 0;
        width: 100%;
        display: block;
        text-align: center;
        color: #fff;
      }
    }
  }

  .remove-image{
    background-color: #85b200;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: -1px;
    text-align: center;
    top: -4px;
    width: 16px;
    z-index: 10;
    background-image: url('../../images/close.png');
    background-position: center;
  }
}

.table-list{
  width: 100%;
  list-style: none;
  padding-left: 0;

  li{
    margin: 20px 0;
  }

  .table-list-title{
    border-bottom: 1px solid @gray-lighter;
    display: inline-block;
    position: relative;
    width: 50%;

    span{
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: -1px;
      display: inline-block;
      padding-right: 10px;
    }
  }

  .table-list-value{
    width: 50%;
    float: right;
    padding-left: 10px;
  }
}