.no-active{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 100;
}

.loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 100;

  &:after{
    content: " ";
    height: 50px;
    width: 50px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 3px @brand-primary, 0 0 0 3px #c7d3e3;
    border: 0 solid transparent;
    opacity: 0.7;
    animation: loader-radius  2s infinite ease-in-out;
  }
}

@keyframes loader-radius {
  from {
    box-shadow: inset 0 0 0 3px @brand-primary, 0 0 0 0 rgba(255,255,255,1), 0 0 0 3px rgba(199,211,227,1);
  }
  to{
    box-shadow: inset 0 0 0 3px @brand-primary, 0 0 0 50px rgba(255,255,255,0.5), 0 0 0 53px rgba(199,211,227,0);
  }
}