.modal-header{
  border-width: 0;
  padding: 7px 15px;

  h4{
    font-size: 26px;
    font-weight: 100;
  }

  .close{
    font-size: 22px;
    margin-right: -10px;
    margin-top: -7px;
    opacity: 0.7;
    transition: all .2s ease;

    &:hover{
      color: @brand-primary;
    }
  }
}

.modal-body{
  padding: 0 15px 15px;

  h3{
    margin-bottom: 10px;
  }
}

#addAgencyModal{

  .modal-dialog{
      width: 800px;
  }


}

#paymentModal{
  .modal-dialog {
    width: 360px;
  }

  .payment-about{
    padding: 0 20px;
  }

  .form-group{
    margin-bottom: 30px;
    margin-left: -10px;
    margin-right: -10px;
  }

  label{
    text-align: left;
    margin-right: 0;
    padding-right: 0;
    padding-top: 8px;
  }

  .btn-success{
    margin-top: 30px;
  }

  .modal-body{
    padding: 0 15px 30px;
  }
}

.modal-backdrop{
  background-color: rgba(38,43,68,.97);
}
