.header-top-nav{
  font-size: 11px;

  .nav-pills{
    li{
      margin-left: 10px;
    }

    a{
      border-radius: 0;
      color: @gray;

      .fa{
        color: @brand-primary;
      }

      &.bg-success{
        background-color: @brand-success;
        color: #fff;

        .fa{
          color: #fff;
        }

        &:hover{
          background-color: darken(@brand-success, 7%);
        }
      }
    }
  }
}

.header-nav{
  padding: 15px 0;
  border-bottom: 5px solid darken(@brand-primary, 20%);

  .nav-pills{
    font-size: 13px;
    margin: 5px 0;

    li{
      margin-left: 15px;
    }

    a{
      color: #fff;
      border: 1px solid @brand-primary;
      padding: 5px 10px;
      transition: all .2s ease;

      &:hover, &:focus, &.active{
        background-color: transparent;
        border-color: lighten(@brand-primary, 20%);
      }

      &:active{
        background-color: lighten(@brand-primary, 7%);
      }
    }

  }
}

.sub-nav{
  background-color: @gray;
  border-radius: 0 0 4px 4px;
  text-align: center;
  font-size: 13px;

  .fa{
    font-size: 20px;
    margin-right: 5px;
  }

  li{
    float: none;
    display: inline-block;

    a{
      color: #fff;
      background-color: transparent;
      border-radius: 0;

      &:hover, &:focus, &.active{
        background-color: lighten(@gray, 20%);
      }

      &:active{
        background-color: lighten(@gray, 10%);
      }
    }
  }
}


@media (max-width: @screen-lg-min) {

  .sub-nav{
    .fa{
      font-size: 13px;
      margin-right: 0;
    }

    li{
      a{
        padding: 10px;
      }
    }
  }

}