.pagination{
  background-color: #fbfbfb;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  position: relative;
  padding: 10px 0 5px;
  margin-top: 40px;

  li{
    display: inline-block;
    margin: 5px;

    a, span{
      font-size: 16px;
      padding: 0 7px;
      border-radius: 5px;
    }

    a{
      font-weight: bold;
      background-color: transparent;
      border-width: 0;
      color: #444444;
    }

    span{
      color: #fff;

      &:hover{
        background-image: none;
        color: #fff;
        opacity: .8;
      }
    }

    &:first-child, &:last-child{
      position: absolute;
      margin: 0;

      a, span{
        background-color: @brand-success;
        font-size: 34px;
        line-height: 34px;
        padding: 7px 25px 12px;
        color: #fff;
        border-width: 0;
        font-weight: 400;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);

        &:hover{
          background-color: darken(@brand-success, 10%);
        }
      }
    }

    &:first-child{
      left: 0;
      top: 0;

      a, span{
        border-radius: 5px 0 0 5px;
      }
    }

    &:last-child{
      right: 0;
      top: 0;

      a, span{
        border-radius: 0 5px 5px 0;
      }
    }
  }
}