.gray-panel{
  background-color: lighten(@gray-lighter, 5%);
}

.active-block{
  background-color: @brand-warning-2;
}

.select-block{
  cursor: pointer;
  &:hover{
    border-color: @gray-light;
  }
}