.profile-money{
  .profile-money-title{
    padding: 10px 20px;
  }

  .profile-money-count{
    padding: 5px 20px;

    .count{
      font-size: 24px;
      font-weight: 700;
    }

    .fa{
      font-size: 22px;
    }

  }

  .profile-money-add{
    padding: 10px 20px;
  }

  .profile-money-add-title{
    padding: 5px 0;
  }

  .profile-money-add-form{
    padding: 10px 0;

    input{
      display: inline;
      width: 90px;
    }

    .btn{
      width: 120px;
    }
  }
}

.profile-add-agency{
  padding: 20px;
  position: relative;
}

.profile-add-agency-title{
  margin-bottom: 20px;

  span{
    padding-left: 50px;
    display: block;
    font-size: 16px;
    line-height: 20px;
  }
}

.profile-add-agency-title-icon{
  font-size: 40px !important;
  position: absolute;
  left: 20px;
  top: 20px;
}

.profile-add-agency-content{
  margin-bottom: 20px;

  li{
    margin-bottom: 10px;
  }
}

.add-agency-with-padding{
  .profile-add-agency-content, .profile-add-agency-button{
    padding-left: 50px;
  }
}

.profile-card{

  padding: 0 20px;

  h2{
    margin: 15px 0;
  }

  a{
    color: @brand-info;
  }

}

.profile-contacts-item{
  position: relative;
  float: left;
  margin-right: 30px;
}

.profile-contacts-item-icon{
  position: absolute;
  left: 0;
  top: 0;

  .fa{
    font-size: 20px;
    color: @brand-info;
  }

}

.profile-contacts-item-content{
  padding-left: 30px;
}

.profile-contacts-edit{
  margin: 10px 0 15px;

  a{
    .fa{
      color: @gray-light;
      font-size: 20px;
      margin-right: 7px;
    }
  }
}

.profile-block-title{
  h3{
    margin: 0 0 10px 0;
  }

  ul{
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;

    li{
      display: inline-block;
      padding: 0;
      margin: 0 15px 0 0;
    }
  }
}

.profile-list{
  border-bottom: 1px solid @gray-lighter;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 15px 0;

  a, .btn-link{
    text-decoration: underline;
  }

  &:last-child{
    border-bottom-width: 0;
  }

  &.white-gradient{
    &:after{
      position: absolute;
      content: " ";
      background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 51%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 51%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
      width: 300px;
      height: 100%;
      right: 0;
      top: 0;
    }
  }

  &.gray-gradient{
    &:after{
      position: absolute;
      content: " ";
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(247,248,251,1) 50%, rgba(247,248,251,1) 51%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(247,248,251,1) 50%,rgba(247,248,251,1) 51%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(247,248,251,1) 50%,rgba(247,248,251,1) 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f7f8fb',GradientType=1 ); /* IE6-9 */
      width: 300px;
      height: 100%;
      right: 0;
      top: 0;
    }
  }
}

.profile-list-actions{
  position: absolute;
  top: 19px;
  right: 0;
  z-index: 5;

  a, .btn{
    .fa{
      color: @gray;
    }
  }

  .btn-link{
    padding: 0;
  }
}

.profile-list-inner{
  width: 99999px;
}

.profile-list-title{
  font-size: 14px;
  margin-bottom: 5px;
}

.profile-list-meta{
  font-size: 11px;
  color: @gray-light;
  margin-bottom: 0;
}

.profile-gray-block{
  padding: 5px 20px 20px;
}

.auth-form{
  .checkbox{
    margin-top: 0;
  }
}

.profile-submenu{

  ul{
    margin: 0;
    padding: 0;
  }

  li{
    display: inline-block;
    margin-right: 2px;
    position: relative;
    z-index: 50;

    a{
      color: #444444;
      text-decoration: none;
      font-size: 14px;
      padding: 10px 20px;
      display: block;

      &.active, &:hover{
        font-weight: bold;
        background-color: #fbfbfb;
        border: 1px solid #efefef;
        border-bottom-width: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }

}

.profile-ads{
  padding: 10px;
  background-color: #fbfbfb;
  border: 1px solid #efefef;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -1px;
}

.ads-list{
  .profile-list-inner{
    position: relative;
    width: auto;
  }

  .ads-list-image{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  .ads-list-content{
    position: relative;
    padding-left: 80px;
    min-height: 70px;
    padding-right: 70px;
  }

  .profile-list-meta{
    padding-bottom: 30px;
  }
}

.ads-list-meta{
  position: absolute;
  bottom: 0;
  margin: 0 0 0 22px;
  padding: 0;

  li{
    display: inline-block;
    font-size: 12px;
    margin-right: 30px;
  }

  .fa-li{
    left: -1.9em;
  }

  .fa{
    color: #444444;
  }
}

.fa-angel-down{

}

.ads-list-markers{

  position: absolute;
  right: 0;
  top: 0;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li{
    font-size: 18px;
    color: #444;
    opacity: .5;
    display: inline-block;
    margin-left: 5px;

    &.active{
      opacity: 1;
    }
  }

}

.agency-contact-row{
  margin-top: 20px;
  border-bottom: 1px dotted #ccc;
  height: 16px;

  span{
    height: 20px;
    display: inline-block;
    background-color: #fff;
  }

  .btn{
    padding: 0 0 0 10px;
  }
}

.save-settings{
  padding: 10px;
}

.remove-account{
  display: inline-block;
  margin: 5px;
}

@media (max-width: @screen-lg-min) {

  .profile-money{

    .profile-money-add-form{
      padding: 10px 0;

      input{
        width: 50px;
      }

      .btn{
        width: 100px;
      }
    }

  }

}

.saved-search-list{
  .ads-list-content{
    padding-left: 0;
  }
}