.slider-track{
  background-image: none;
  background-color: @gray-lighter;
  box-shadow: none;
  border-radius: 0;
}

.slider-handle{
  background-image: none;
  background-color: #fff;
  border: 5px solid @brand-success;
  box-shadow: none;
}

.slider-tick{
  width: 4px;
  box-shadow: none;
  background-color: @gray-lighter;
  background-image: none;

  &.in-selection{
    background-image: none;
  }

  &.round{
    border-radius: 3px;
  }
}

.slider.slider-horizontal .slider-track {
  height: 7px;
}

.slider.slider-horizontal .slider-tick{
  margin-left: -1px;
  margin-top: -5.5px;
}

.slider.slider-horizontal .slider-handle{
  margin-left: -9px;
  margin-top: -5.5px;
}

.slider-selection{
  box-shadow: none;
}

.slider-selection.tick-slider-selection{
  background-image: none;
}

.slider .tooltip-inner{
  background-color: transparent;
  color: @brand-success;
  font-size: 16px;
}

.slider .tooltip.top .tooltip-arrow{
  display: none;
}

.slider .tooltip.top {
  margin-top: -34px;
  z-index: 10;
}
