.nav-tabs{

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border-color: @gray-lighter @gray-lighter transparent;
}

.nav-tabs > li > a{
  border-color: @gray-lighter;
  background-color: lighten(@gray-lighter, 5%);
  color: @gray;
  margin-bottom: -1px;
  font-size: 14px;
  margin-right: -1px;

  &:hover{
    border-color: @gray-lighter;
    background-color: @gray-lighter;
  }
}

.nav-tabs > li{
  margin-bottom: 0;
}

.nav-tabs {
  border-bottom: 1px solid @gray-lighter;
}

.tab-content{
  border-width: 1px;
  border-style: solid;
  border-color: transparent @gray-lighter @gray-lighter;
  padding: 15px;
}

.tab-content > .active{
  position: relative;
}

